/* About me styles */
.about-me-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

/* Service styles */
.service-section {
  padding: 140px 20px;
  min-height: 100vh;
}

.service-container {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  min-height: inherit;
}

.service-heading-wrapper {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  overflow: hidden;
}

.service-heading-wrapper h1 {
  font-size: 120px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 153.6px;
}

.services-work {
  min-height: inherit;
  width: 100%;
}

.service-work-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.services-work-project {
  position: relative;
  width: 80%;
}
.service-work-eachproject img {
  border-radius: 10px;
}

@media screen and (min-width: 950px) {
  /* about me styles */
  .about-me-container {
    align-items: center;
  }

  .about-me {
    width: 69%;
    height: 60%;
    margin: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0vw;
    font-size: 3vw;
  }
}

@media screen and (max-width: 850px) {
  /* About me styles */
  .about-me {
    padding: 1rem 2rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  /* About me styles */
  .about-me-container {
    width: 100%;
    min-height: 60vh;
  }

  .about-me {
    padding: 1rem 1rem;
    font-size: 1.3rem;
    height: 50%;
  }

  /* Services styles */
  .service-section {
    padding: 50px 5px;
    min-height: 70vh;
  }

  .service-heading-wrapper {
    justify-content: center;
    align-items: center;
  }

  .service-heading-wrapper h1 {
    font-size: 25vw;
  }

  .service-work-container {
    grid-template-columns: 1fr;
  }
}
