@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: book;
  src: url("./fonts/BrouklynSignature-DemoUse.otf");
}
@font-face {
  font-family: rose;
  src: url("./fonts/arial-downloaded-font-collection/rosmatika-73779/RosmatikaRegular-BWA45.ttf");
}

@font-face {
  font-family: aquire;
  src: url("./fonts/arial-downloaded-font-collection/aquire-43735/Aquire-BW0ox.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  overflow-x: hidden;
  word-wrap: break-word;
  font-family: rose;
  color: black;
  background-color: rgb(178, 171, 155);
  position: relative;
}

#root {
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
