@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:ital,wght@1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cabin";
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a,
ul,
main,
section,
img,
header,
footer {
  padding: 0;
  margin: 0;
}

#root {
  max-width: 100%;
  width: 100%;
}
